html {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: $quicksand-font;
  transition: color 150ms ease-out, background-color 150ms ease-out;
  line-height: 1.2;
}

ul {
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

h1,
p {
  padding: 0;
  margin: 0;
}

%button {
  width: 100%;
  border-radius: 10px;
  border-color: $main-color;
  background-color: $main-color;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s linear;
  outline: none;

  &:hover {
    background-color: #786133;
    border-color: #786133;
  }
}

.container {
  width: 1100px;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
}
