.chat-section {
  background-color: $background-color;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 100vh;
  @include md(height, auto);
}
.chat-wrapper {
  @include row-flex();
}
form {
  display: inline-block;
  @include col();
  @include size(6);
  @include size-sm(12);
}

.form-chat {
  &__input {
    outline: none;
    width: 70%;
    border: none;
    border-bottom: 1px solid $main-color;
    float: left;
    color: $main-color;
    background: transparent;
    padding-bottom: 5px;
  }

  &__button {
    @extend %button;
    @include sm(font-size, 12px);
    width: 20%;
    height: 40px;
    margin-top: 10px;
    position: relative;
  }

  &__interface {
    @include md(margin, 10px 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.textarea {
  @include sm(height, 300px);
  height: 400px;
  border: 1px solid $main-color;
  overflow: scroll;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
#map {
  @include col();
  @include size(6);
  @include size-sm(12);
  height: 400px;
}
.incoming {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-top: 10px;

  &--mine {
    align-self: flex-start;
    flex-direction: row;
    text-align: left;

    .incoming__name {
      margin-left: 5px;
    }

    .incoming__wrapper {
      margin-left: 5px;
      color: $main-color;
    }
  }

  &--guest {
    align-self: flex-end;
    flex-direction: row-reverse;
    text-align: right;

    .incoming__name {
      margin-left: 5px;
    }

    .incoming__wrapper {
      margin-right: 5px;
      color: $main-color;
    }
  }

  &__wrapper {
    display: block;
  }

  &__info {
    display: flex;
    align-items: center;
  }

  &__time {
    color: #c9c6c6;
    font-size: 12px;
  }

  &__name {
    font-weight: 700;
  }

  &__img {
    width: 40px;
    height: 40px;
    border: 1px solid #000;
    border-radius: 50%;
  }

  &__message {
    word-break: break-all;
  }
}

.input-error {
  border-bottom: 1px solid #ff0000;
}
