.section-login {
  font-family: $quicksand-font;
  background-color: $background-color;
  color: #ffffff;
}

.login__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 700;
  width: 300px;

  &__text {
    margin: 10px 0;
    text-align: center;
  }

  &__button {
    @extend %button;
    padding: 5px 0;

    &:focus {
      outline: 2px solid #0000ff;
    }
  }

  &__input {
    background-color: transparent;
    color: #fff;
    border: 2px solid $main-color;
    padding: 5px 0 5px 10px;
    font-weight: 700;

    &:focus {
      outline: 2px solid #0000ff;
    }
  }

  &__file {
    margin: 20px 0;
    border: 2px solid $main-color;
    padding: 5px;
    cursor: pointer;
    text-align: center;
  }
}

.input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
